<template name = "mainLayout"> 

    <main> 
        {{> Template.dynamic template=top}}
        {{> Template.dynamic template=content}}
        {{> Template.dynamic template=bottom}}
    </main>

</template>