<head>
  <title>Todo List</title>
</head>
 
<body>
  <div class="container">
    <header>
      <h1>Todo List ({{incompleteCount}})</h1>

    <label class="hide-completed">
        <input type="checkbox" checked="{{hideCompleted}}" />
        Hide Completed Tasks
      </label>
 
     {{> loginButtons}}
       <!--only show the input field if a user is logged in-->
       {{#if currentUser}}
         <form class="new-task">
           <input type="text" name="text" placeholder="Type to add new tasks" />
         </form>
       {{/if}}

    </header>
 
    <ul>
      {{#each tasks}}
        {{> task}}
      {{/each}}
    </ul>
    <button class="btn btn-fab btn-danger"><i class="fa fa-plus"></i></button>
    <form class="form-horizontal">
    <div class="form-group">
        <label class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
            {{> Input type='email' placeholder='Email'}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
            {{> Input type='password' placeholder='Password'}}
            {{> Checkbox label='Checkbox'}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">File</label>
        <div class="col-lg-10">
            {{> FileInput multiple=true accept='.mp3,.wav' placeholder='Select only mp3 and wav files...'}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Textarea</label>
        <div class="col-lg-10">
            {{> TextArea rows=3}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Radios</label>
        <div class="col-lg-10">
            {{> Radio name='radioGroup' value='option1' label='Option one' checked=true}}
            {{> Radio name='radioGroup' value='option2' label='Option two'}}                                
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-2 control-label">Selects</label>
        <div class="col-lg-10">
            {{#Select}}
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            {{/Select}}
            <br>
            {{#Select multiple=true}}
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            {{/Select}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
            <button class="btn btn-flat">Cancel</button>
            <button class="btn btn-flat btn-primary">Submit</button>
        </div>
    </div>
</form>
  </div>
</body>
 
<template name="task">
<li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
    <button class="delete">&times;</button>
    <input type="checkbox" checked="{{checked}}" class="toggle-checked" />
    
    {{#if isOwner}}
       <button class="toggle-private">
          {{#if private}}
             Private
          {{else}}
             Public
          {{/if}}
       </button>          
    {{/if}}
    
    <span class="text"><strong>{{username}}</strong> - {{text}}</span>
</li>
</template>