<template name = "addPost" >
<div class = "container">
{{#if authInProcess }}
    <p> Logging in ... </p>
{{else }}
    {{#if canShow }}
	<form class="new-task">
    	<input type="text" name="newpost" placeholder="Type to add new posts" />
    	<h1> Please attach some code:  </h1>
    	{{> GhostEditor}}
    </form>
    <br>
    {{else}}
      <p> Please login or signup to add a post </p> 
    {{/if}}
{{/if}}
</div>
</template>

