<template name="footer">

 <footer class="page-footer" id="footer">
          <div class="">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="">
            &nbsp; © 2016 λ Hask-a-Question
            <a class="grey-text text-lighten-4 right" style="margin-right: 15px;" href="#!">More Links</a>
            </div>
          </div>
        </footer>

</template>