<template name="loginRegModal">

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    {{> atForm}}
  </div>
</template>


<template name="modalInner">
    <div class="modal-content">
      {{> atForm}}
    </div>  
</template>

<template name="login">
  <div class="row">
    <div class="input-field col s12">
      <input id="email" type="email" name="email" class="validate">
      <label for="email">Email</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <input id="password" type="password" name="password" class="validate">
      <label for="password">Password</label>
    </div>
  </div>
</template>