<template name = "navBar" > 

<div class = "content"> 
      <nav>
        <div class="nav-wrapper">
        <a href="" class="brand-logo">λ Hask-a-Question</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#if currentUser}}
            <li id="view-posts-btn"><a href="">Your Profile</a></li>
            <li id="login-btn-bar-out"><a href="#">Logout</a></li>
          {{else}}
            <li id="login-btn-bar-in"><a href="#" onclick="FlowRouter.go('/login');">Login</a></li>
          {{/if}}
      </ul>
    </div>
  </nav>
    
    <!--<h1 > λ Hask-A-Question </h1> -->

   <!-- {{> atForm state='signIn'}} -->
</div>
</template>