<template name="postsList">

     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

      <div class="card-panel grey lighten-3" id="post-panel">
        <ul>
            {{#each posts}}
                {{> singlePost}}
            {{/each}}
        </ul>
        <button class="btn btn-raised" id="loadMore" >More...</button>
      </div>
      {{#if currentUser}}
      <div id="fab-btn">
        <a class="btn-floating btn-large waves-effect waves-light" id="addPost"><i id="plus" class="large material-icons">add</i></a>
      </div>
      {{/if}}


</template>


