<template name = "u_profile" >
   {{user_profile}}
   <div class = "container" >
   <h1>Your questions:</h1>
     <ul>
        {{#each users_posts}}
            {{> singlePost}}
        {{/each}}
    </ul>
    </div>
   
</template>