<template name = "singleComment">
{{printData this}}
  <div class="vote-content">
    {{> commentVotes}}
  </div>
  <div class="comment-text">{{text}}
    {{#markdown}}{{cmarkdown}}{{/markdown}}
  </div>
    
</template>

<template name = "commentVotes">

		<div class="votes col s1">
		<a class="waves-effect waves-purple btn-flat" id="vote-button"><div class="up-vote-comment"><i class="material-icons" id="vote-icon-cup">keyboard_arrow_up</i></div></a>
		<div class="vote-count">{{votes}}</div>
		<a class="waves-effect waves-red btn-flat" id="vote-button"><div class="down-vote-comment"><i class="material-icons" id="vote-icon-cdow">keyboard_arrow_down</i></div></a>
		</div>
</template>
