<template name = "singlePost">
{{printData this}} 

    <li>
      <div id="each-post" class="card">
        <div class="card-content white-text">
		  <div class="title-area">
			<span class="card-title">{{text}}</span>
		  </div>
            </div>
            <div class="card-action">
              <a id="go-post" class="waves-effect waves-indigo btn-flat">Go to post</a>
        </div>
      </div>
    </li>
    
</template>

