<template name="viewLogin"> 
          <div class="card blue-grey darken-1" id="login-card">
            <div class="card-content white-text">
              {{> atForm}}
            </div>
          </div>
</template>