<template name = "viewPost">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <div class="container" id="view-post-container">
    <div class="card col s12 m4 l8" id="post-content-wrap">
        {{#with post}}
      <div class="col s2" id="post-title-info">
	    <div class="votes col s1">
		  <a class="waves-effect waves-purple btn-flat" id="vote-button"><div class="vote-up"><i class="material-icons" id="vote-icon-qup">keyboard_arrow_up</i></div></a>
		  <div class="vote-count">{{karma}}</div>
        <a class="waves-effect waves-red btn-flat" id="vote-button"><div class="vote-down" id="vote-down-s"><i class="material-icons" id="vote-icon-qdow">keyboard_arrow_down</i></div></a>
	    </div>
	    <div class="post-title" style="display:inline-block;"><h1> {{text}} </h1> </div>
	  </div>
      <div class="card-action col s6" id="post-content"><div class="content-text">{{#markdown}}{{cmarkdown}}{{/markdown}}</div></div>
       {{/with}}
    </div>
   
	{{#if showForm}}
		<button class="btn btn-raised" id="removeComment" > Remove Comment </button>
	{{else}}
		<button class="btn btn-raised" id="addComment" > Add Comment </button>
	{{/if}}
	
		{{#if showForm}}
			<form class="comment">
				<input type="text" name="newcomment" placeholder="Type to add new posts" />
				<h1>Please attach some code:  </h1>
				{{> GhostEditor}}
			</form>
			<button class="btn btn-raised" id="submit" > Submit </button>
		{{/if}}
	
	   {{#each comments}}
        <div class="card col s12 m4 l8" id="comment-content-wrap">
          {{> singleComment}}
        </div>
	   {{/each}}

	
   </div>
</template>

