#nav-mobile{
   background-color: inherit; 
}

li{
   border-bottom: transparent solid 1px !important; 
}

.brand-logo{
   padding-left: 30px !important;  
}

nav{
   background-color: #281B32; 
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.3)
   height: 10%;
}

#login-btn-bar{
   padding-right: 20px !important;  
}

#login-card{
   align-content: center;
   margin-left: 33%;
   margin-right: 33%;
   margin-top: 8%;
}

ul{
   background-color: rgba(255, 255, 255, 0) !important;  
}

#post-panel{
   margin-left: 15%;
   margin-right: 15%;
   margin-top: 25px;
   margin-bottom: 0px;
}

#view-post-container{
   max-width: 700px !important;
}

#addPost{
   background-color: #42235A !important;
   position: fixed;
   right: 3.5%;
   top: 85%;
   width: 90px;
   height: 90px;
   font-size: 40px;
   line-height: 100px;
   box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.9), 0 2px 5px 0 rgba(0, 0, 0, 0.3);

}

.container{
   background-color: transparent !important;
}

#plus{
   font-size: 40px;
}

#post-content{
   padding-bottom: 2%;
}

.content-text{
   margin-left: 2%;
}

#post-content-wrap{
   margin-top: 50px;
}

#comment-content-wrap{
   margin-top: 50px;
   display: flex;
}

#post-title-info{
   padding-left: 2%;
   padding-top: 2%;
   display: flex;
   align-items: center;

}

.comment-content{
   padding-left: 2%;
   padding-top: 2%;
   display: flex;
   align-items: center;
}

#vote-button{
   width: 25px !important;
   align-content: center;
   padding-left: 0px;
   padding-right: 0px;
}

.vote-content{
   padding-left: 2%;
   padding-top: 2%;
   display: flex;
   width: 40px;
}

.vote-up .up-vote-comment{
	height: 25px;
}

.vote-down .down-vote-comment{
	height: 25px;
}

.vote-count{
	text-align: center;
}

.post-title{
	order: 2;
	margin-left: 15px;
}

.comment-text{
   order: 2;
   margin-left: 15px;
   width: 90%;
   display: inline-block;
   padding-right: 3%;
   padding-top: 1%;
   padding-bottom: 1%;

}

p{
   word-wrap: break-word;
}

.votes{
   order: 1;
   display: inline-block;

}

#vote-icon-cup{
   font-size: 1.7rem !important;
}

#vote-icon-cdow{
   font-size: 1.7rem !important;
}

#vote-icon-qup{
   font-size: 1.7rem !important;
}

#vote-icon-qdow{
   font-size: 1.7rem !important;
}

#footer{
   background-color: #281B32;
   margin-top: 50px; 
}

main{
     background-color: #FFFFFF;
   //background-color: #e0e0e0;
}

body{
   background-color: #e0e0e0 !important;
   background-image: none !important;
   height: 100%;
}
main{
   height: 100%;
}

#each-post{
   background-color: #48454B;
   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3), 0 2px 10px 0 rgba(0, 0, 0, 0.3)
}

#go-post{
   //background-color: #006064;
}

/**
.view-post-wrap{
   height: 100%;
}*/